<h3>Listing Pages</h3>

<ul>
  <li>{{link-to 'How Listing Pages Work' 'components.listing-pages.index'}}</li>
  <li><code>{{link-to 'content-types' 'components.listing-pages.content-types'}}</code></li>
  <li><code>{{link-to 'channel-header' 'components.listing-pages.channel-header'}}</code></li>
  <li><code>{{link-to 'x-marquee' 'components.listing-pages.x-marquee'}}</code></li>
  <li><code>{{link-to 'nav-links' 'components.listing-pages.nav-links'}}</code></li>
  <li><code>{{link-to 'social-links' 'components.listing-pages.social-links'}}</code></li>
</ul>
{{outlet}}
