<div class="about-show" data-test-selector="about-page">
  {{django-page page=model.page loadingType='channel-page'}}
</div>

{{#unless hidePeople}}
<section>
  <h1 class="about-page__hidden">People</h1>
  {{#each model.aboutPage.people as |person|}}
  <article class="text text--medium about-person">
    <div class="about-person__body">
      <a class="about-person__link" href={{person.url}}>
        <h1 class="h2 h2--mq-small nudge-mini">{{person.name}}</h1>
      </a>

      <p class="about-person__job">{{person.job-title}}</p>
      <div class="about-person__social-buttons">
        {{#each person.social as |social|}}
          {{#if social.contact-string}}
            {{social-button item=social}}
          {{/if}}
        {{/each}}
      </div>
    </div>

    {{#if person.image}}
    <div class="about-person__image">
      <img class="middle-narrow-up" alt="{{person.name}}"
          src="{{image-template person.image.template 100 100 person.image.crop}}"
          srcset="{{image-template person.image.template 200 200 person.image.crop}} 2x,
              {{image-template person.image.template 300 300 person.image.crop}} 3x"
          width="100" height="100">
    </div>
    {{/if}}

  </article>
  {{/each}}
</section>
{{/unless}}
