<h2 class="comment-form__header" id="commentsForm">Leave a comment</h2>
<div class="comment-form__subhead">Email addresses are required but never displayed</div>

{{#unless isStaff}}
<fieldset class="comment-fieldset">
  <label class="h4" for="name">Name</label>
  {{#if errors.name}}
    <div class="comment-error">{{errors.name}}</div>
  {{/if}}
  {{input value=name class="comment-input" type="text" name="name"}}
</fieldset>

<fieldset class="comment-fieldset">
  <label for="email">Email address</label>
  {{#if errors.email}}
    <div class="comment-error">{{errors.email}}</div>
  {{/if}}
  {{input value=email class="comment-input" type="email" name="email"}}
</fieldset>
{{/unless}}

<fieldset class="comment-fieldset">
  <label for="commentBox">Comment</label>
  {{#if errors.comment}}
    <div class="comment-error">{{errors.comment}}</div>
  {{/if}}
  {{textarea value=comment class="comment-input" id="commentBox" name="comment" cols="40" rows="10"}}
</fieldset>

<fieldset class="comment-fieldset">
  <label for="location">Location</label>
  {{input value=location class="comment-input" type="text" name="location"}}
</fieldset>

{{#if isStaff}}
<fieldset class="comment-fieldset">
  <label for="userNameOverride">User name override</label>
  {{input value=nameOverride class="comment-input" name="user_name_override"}}
</fieldset>
{{/if}}

<button class="comment-submit-btn" disabled={{isDisabled}} {{action 'sendComment'}}>Submit Comment</button>
