<ul>
  {{#each model.teaseList as |episode|}}
  <li class="episode-list__list-item">
    <article class="episode-tease">
      {{#if episode.imageMain}}
        <div class="episode-tease__image-wrapper">
          {{#link-to 'story' episode.slug class="episode-tease__image-link" title=episode.title ariaRole="presentation" ~}}
          {{~/link-to}}
          <img class="episode-tease__image" alt=""
            src="{{image-template episode.imageMain.template 320 240 episode.imageMain.crop}}"
            srcset="{{image-template episode.imageMain.template 640 480 episode.imageMain.crop}} 2x">
        </div>
      {{/if}}
      <div class="episode-tease__details">
        {{#if episode.audioAvailable}}
          {{#listen-button
            class="episode-tease__listenbutton"
            type='yellow-square'
            itemPK=episode.id
            itemTitle=episode.title
            itemShow=(or episode.showTitle episode.headers.brand.title)
          }}Listen{{/listen-button}}
        {{/if}}
        {{#if includeShows}}
          <div class="episode-tease__show-info">
            <a class="episode-tease__show-logo-link" href={{episode.headers.brand.url}} title={{episode.headers.brand.title}} aria-role="presentation">
              <img class="episode-tease__show-logo" alt=""
                src="{{image-template episode.headers.brand.logo-image.template 41 41 episode.headers.brand.logo-image.crop}}"
                srcset="{{image-template episode.headers.brand.logo-image.template 82 82 episode.headers.brand.logo-image.crop}} 2x">
            </a>
            <h2 class="episode-tease__show-title">
              <a class="episode-tease__show-title-link" href={{episode.headers.brand.url}} title={{episode.headers.brand.title}}>
              {{episode.headers.brand.title}}</a>
            </h2>
          </div>
        {{/if}}
        <h1 class="episode-tease__title">
          {{#link-to 'story' episode.slug class="episode-tease__title-link"~}}
            {{episode.title}}
          {{~/link-to}}
        </h1>
        <div class="episode-tease__date">
          {{moment-format episode.newsdate 'MMM D, YYYY'}}
        </div>
        <div class="episode-tease__tease">
          {{#truncate-multiline lines=4 as |tm|~}}
            {{#tm.target~}}
              {{{episode.tease}}}
            {{~/tm.target}}
          {{~/truncate-multiline}}
        </div>
      </div>
    </article>
  </li>
  {{/each}}
</ul>
