<h1 class="story-comments__title">
  <button class="story-comments__reveal-button" {{action 'getComments'}} data-test-selector="story-comments">
    {{fa-icon 'comment' class="story-comments__icon"}}
    <span class="story-comments__button-text">
    {{#if (gt commentsCount 1)}}
      {{commentsCount}} Comments
    {{else if (gt commentsCount 0)}}
      {{commentsCount}} Comment
    {{else}}
      Post a Comment
    {{/if}}
    </span>
  </button>
  {{fa-icon "circle-o-notch" spin=true class=(if isLoading 'is-visible' 'is-fadeout')}}
</h1>

{{#if isShowingComments}}
  {{comments-list adminURL=adminURL comments=comments isStaff=isStaff browserId=browserId}}
{{/if}}

{{#if isShowingForm}}
  {{comments-form action='saveSuccess' email=email userName=userName isStaff=isStaff browserId=browserId story=story}}

  <div class="story-comments__note">
    <p>Please stay on topic, be civil, and be brief. By leaving a comment, you agree to our <a href="/privacy">Privacy Policy</a> and <a href="/terms/">Terms Of Use</a>.</p>
  </div>
{{/if}}

{{#if isSuccess}}
  <p>
    Thank you for your comment! If you'd like to stay engaged, visit our homepage and sign up for our email newsletter.
  </p>
{{/if}}
