{{#site-chrome as |chrome|}}

  {{#chrome.nav as |nav|}}
    {{#nav.corner}}
      <h1 class="site-title">{{#link-to 'index'}}{{md-text text="`nypr-publisher-lib`"}}{{/link-to}}</h1>
    {{/nav.corner}}
    
    {{#nav.links as |links|}}
      {{links.link text='Models, Adapters, &  Serializers' route='mas'}}
      {{links.link text='Components' route='components'}}
      {{links.link text='Services' route='services'}}
    {{/nav.links}}
  {{/chrome.nav}}
  
  {{#chrome.body}}
    {{outlet}}
  {{/chrome.body}}
{{/site-chrome}}
