{{#site-chrome as |chrome|}}

  {{#chrome.nav as |nav|}}
    {{#nav.corner}}
      <h1 class="site-title">nypr publisher lib</h1>
    {{/nav.corner}}
    
    {{#nav.links as |links|}}
      {{links.link text='Home' route='index'}}
      {{links.link text='Models, Adapters, &  Serializers' route='mas'}}
      {{links.link text='Components' route='components'}}
      {{links.link text='Services' route='services'}}
      {{links.link text='Mirage Support' route='mirage'}}
    {{/nav.links}}
  {{/chrome.nav}}
  
  {{#chrome.body}}
    <div class="l-page">
      {{outlet}}
    </div>
  {{/chrome.body}}
{{/site-chrome}}
