<h1>{{#link-to 'index'}}{{md-text text="`nypr-publisher-lib`"}}{{/link-to}}</h1>
<ul>
  <li>
    {{link-to 'Models, Adapters, &  Serializers' 'mas'}}
  </li>
  <li>
    {{link-to 'Components' 'components'}}
  </li>
  <li>
    {{link-to 'Services' 'services'}}
  </li>
</ul>

{{outlet}}
